<header>
  <div class="header-container">
    <div class="header-wrapper">
      <nav class="header-content">
        <!--Brand logo/title-->
        <a class="site-brand" routerLink="/">
          <div class="site-brand-logo-container">
            <span class="site-brand-logo">LINK-SHORTS</span>
          </div>
        </a>

        <!--Tabs-->
        <div class="header-nav-tabs">
          <ul class="header-nav-list">
            <li class="header-nav-list-item">
              <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>

            @if (authService.isAuthenticated$ | async) {
              <li class="header-nav-list-item">
                <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Profile</a>
              </li>
              <li class="header-nav-list-item">
                <span>Welcome, {{ (authService.userProfile$ | async)?.name }}</span>
              </li>

              <li class="header-nav-list-item">
                <button (click)="authService.logout()">Logout</button>
              </li>
            } @else {
              <li class="header-nav-list-item">
                <button (click)="authService.login()">Login with Google</button>
              </li>
            }

          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
