<header>
  <div class="header-container">
    <div class="header-wrapper">
      <nav class="header-content">
        <!--Brand logo/title-->
        <a class="site-brand" href="/">
          <div class="site-brand-logo-container">
            <span class="site-brand-logo">LINK-SHORTS</span>
          </div>
        </a>

        <!--Tabs-->
        <div class="header-nav-tabs">
          <ul class="header-nav-list">
            <li class="header-nav-list-item">
              <a href="/login">SignIn</a>
            </li>
            <li class="header-nav-list-item">
              <a href="/">Home</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
