/* You can add global styles to this file, and also import other style files */
* {
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Alegreya', system-ui;
  color-scheme: dark;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  display: grid;
}

:root {
  --color_bg_app_bar: hsla(0, 0%, 7%, 0.66);
}
